.faq-private-main {
    justify-content: center;
}

.faq-private-sec {
   justify-content: center;
   max-width: 2000px;
   margin-top: 5rem !important;
   max-width: 2000px !important;
}

.faq-private-main-h {
    text-align: center;
    color: #132151;
    margin-bottom: 3rem;
    justify-content: center;
}

#faq-private-accordians-main {
    flex-direction: column;
}

#faq-private-ac-item {
    border-radius: 1rem !important;
}

#faq-private-accordians-main button {
    box-shadow: none !important;
    border: none;
    border-radius: .5rem !important;
}

.accordion-item {
    transition: border 0.3s ease; /* Smooth transition for border */
}

.faq-private-q {
    border-radius: 0.5 !important;
    border: none;
    justify-content: start;
    font-size: 1.5rem !important;
    padding: 1rem 1.5rem !important;
    color: #0C4DA2 !important;
}