#home_hero {
    height: auto;
    padding: 6rem 0;
    padding-bottom: 0 !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .hero-sec {
    height: 100%;
    max-width: 2000px !important;
    display: flex;
    justify-content: center;
  }
  
  
  .hero-t {
    position: absolute;
    transform: scale(60%);
    top: -25%;
    left: -25%;
    z-index: 1;
  }
  .hero-b {
    position: absolute;
    transform: scale(60%);
    bottom: -25%;
    right: -25%;
    z-index: 1;
  }
  
  .hero-text-col {
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: url("/public/Images/site-images/home/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 6rem;
    border-radius: 2rem;
  }
  .hero-main-h {
    font-size: 4rem;
  }
  
  .hero-sub-h {
    color: #C2C1C2;
    font-size: 1.25rem;
  }
  
  .hero-btns {
    border-radius: 1rem !important;
    padding: 1rem 1.5rem !important;
    font-weight: 600 !important;
  }
  
  #hero-ft-btn {
    background-color: #ff3a3a !important;
    border: none !important;
  }
  
  #hero-lau-btn {
    color: white;
    border: 3px solid #3A75C4;
  }
  
  #hero-lau-btn:hover {
    background-color: #3A75C4;
    color: white !important;
  }
  
