#pricing-hdiw {
    justify-content: center;
}

.pricing-hdiw-main {
    display: flex;
    align-items: center;
    padding: 4rem 0;
    overflow: hidden;
}

.pricing-hdiw-sec {
    max-width: 2000px !important;
}

.pricing-hdiw-title {
    font-size: 2rem;
    font-weight: 800;
    color: #0D2371;
}

.pricing-hdiw-step-text {
    text-align: start;
}

.pricing-hdiw-number {
    color: #f44336;
}

.pricing-hdiw-step-text {
    font-size: 1.125rem;
    line-height: 1.7;
}
