#findt-filters {
    justify-content: center;
    overflow: visible;
}


.findt-filters-sec {
    justify-content: space-between;
    margin: 1rem 0 !important;
    max-width: 2000px !important;
}

.findt-filter-h {
     color: #0D2371;
}

.indt-filter-main {
    transition: 0.3s ease-in-out;
}

#findt-filters .dropdown-open {
    border: 3px solid #ff3a3a !important;
    box-shadow: none !important;
    outline: none !important;
  }

#findt-filters .btn {
    border-radius: 1rem;
    background-color: white;
    color: #6B7280;
    border: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

#findt-filters .btn-close {
    color: red;
}

#findt-filters .dropdown-menu {
    border-radius: 1rem;
}

#findt-filters ul {
    margin-top: .5rem;
    padding: 0 !important;
    overflow: hidden;
}

#findt-filters li  button{
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

#findt-filters li  button:hover {
    background-color: #ff3a3a;
    color: white;
}

.position-relative {
    position: relative;
  }
  
  .centered-dropdown {
    left: 50% !important;
    transform: translateX(-50%) !important;
    min-width: max-content;
  }
  
  .btn-close {
    color: red; /* Change to your desired color */
    opacity: 1; /* Ensure visibility */
  }
  