#aboutus_hero {
    justify-content: center;
    background-image: url('/public/Images/site-images/com/site-top-new.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 10%;
}

.aboutus-hero-top {
    justify-content: center;
    margin: 20rem 0 !important;
    max-width: 2000px !important;
    margin-bottom: 4rem !important;
}

.aboutus-strive-logo {
    height: 600px;
    width: auto;
    transform: translateY(-2rem);
}

.aboutus-hero-main-h {
    transform: translateY(-10rem);
    justify-content: center;
    color: #0D2371;
    height: fit-content !important;
}

.aboutus-hero-sub-h {
    transform: translateY(-10rem);
    justify-content: center;
}
