#aboutus-msg {
    height: auto;
    justify-content: center;
    margin-bottom: 5rem;
}

.aboutus-msg-sec {
    justify-content: center;
    max-width: 2000px !important;
}

.aboutus-msg-h {
    color: #0D2371;
    margin-bottom: 3rem;
}

.aboutus-content {
    font-size: 1.25rem;
    line-height: 2rem;
    text-align: justify;
}

.aboutus-founder-img-container {
    max-width: 100%;
    padding: 15px;
}

.aboutus-founder-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .aboutus-founder-img-container {
        margin: 20px auto;
        text-align: center;
    }
    
    .aboutus-founder-img {
        max-width: 250px;
    }
}