#aboutus_hero {
    justify-content: center;
    background-image: url('/public/Images/site-images/com/site-top-new.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 10%;
}

.aboutus-hero-top {
    justify-content: center;
    margin: 20rem 0 !important;
    max-width: 2000px !important;
    height: fit-content !important;
    margin-bottom: 10rem !important;
}

.aboutus-strive-logo {
    transform: scale(45%);
    margin-top: 2rem !important;
}

.aboutus-hero-main-h {
    margin-top: -3rem !important;
    justify-content: center;
    color: #0D2371;
    height: fit-content !important;
    margin-top: 1rem !important;
}

.aboutus-hero-sub-h {
    justify-content: center;
}
