#interview-hdiw {
    justify-content: center;
}

.interview-hdiw-sec {
    justify-content: center;
    margin: 8rem 0 !important;
    max-width: 2000px !important;
}

.interview-hdiw-title {
    color: #16205b;
    margin-bottom: 2rem;
    font-size: 2.7rem;
}

.interview-hdiw-number {
    color: #f44336;
}

.interview-hdiw-step-text {
    font-size: 1.125rem;
    line-height: 1.7;
}
