#interview-w-days {
    justify-content: center;
}

.interview-w-days-sec {
    justify-content: center;
    margin: 4rem 0 !important;
    max-width: 2000px !important;
}

.interview-w-days-heading {
    color: #16205b;
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 4rem !important;
    font-weight: 700;
}

.interview-w-days-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 1rem;
    border-radius: 1rem !important;
    overflow: hidden;
    border: none;
}

.interview-w-days-table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 1rem !important;
}

.interview-w-days-table tbody tr:last-child td:last-child {
    border-radius: 0 0 1rem 0 !important;
}

.interview-w-days-th,
.interview-w-days-td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.interview-w-days-th {
    background-color: #FF3A3A;
    color: white;
    border: none;
    font-size: 1.5rem;
}

.interview-w-days-td {
    font-size: 1.2rem;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .interview-w-days-table,
    .interview-w-days-table thead,
    .interview-w-days-table tbody,
    .interview-w-days-th,
    .interview-w-days-td,
    .interview-w-days-table tr {
        display: block;
    }

    .interview-w-days-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .interview-w-days-table tr {
        border: 1px solid #ccc;
        margin-bottom: 0.5rem;
    }

    .interview-w-days-td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    .interview-w-days-td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /* Labeling table cells for responsiveness */
    .interview-w-days-td:nth-of-type(1):before { content: "Workshop Name"; }
    .interview-w-days-td:nth-of-type(2):before { content: "Date"; }
    .interview-w-days-td:nth-of-type(3):before { content: "Time"; }
}

